{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
 <center>
     <h1 class="title">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        
            <table class="table is-bordered is-striped is-narrow is-hoverable " style="width: 30vw;">
            <tbody>
                {% for field in form %}
                    <tr>
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table><br>
        <button type="submit" class="button is-success" name="action">{% trans "Change Password" %}</button>
    </form></center>

{% endblock %}