{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/signup_form.css' %}">
<center>

    <form id="My_form" method="post"><label>Sign Up</label>
        {% csrf_token %}
        <table class="table is-striped">
            <thead>
                <tr>
                    
                </tr>
            </thead>
            {% for field in form %}
             <tr>
                <div class='{{field.auto_id}}' >
                
                        <td id="label_td" style="text-align: center ">{{field.label_tag}}</td>
                        <td>{{field}}</td>
                    
                

                </div>
            </tr>
            {% endfor %}
        </table>

            <button class="button is-success" type="submit">SignUp</button>
    
    </form>
</center>
{% endblock %}