<div class="container">
    <nav class="navbar is-dark is-fixed-top ">
        <a href="{% url 'home' %}" class="navbar-item is-active has-text-primary" >Home</a>
        <a href="{% url 'book_list' %}" class="navbar-item is-active has-text-warning" >Bookstore</a>
        <a class="navbar-item has-text-danger" href="{% url 'about' %}">About</a>
        <div class="navbar-end">
        <form method="get" action="{% url 'search_results' %}">
            <input name="q" style="margin-top: 13px;" type="text" class="input" placeholder="Find book">
        </form>
        {% if user.is_authenticated %}
        <a class="navbar-item" href="{% url 'account_logout' %}">Log Out</a>
        {% else %}
        <a class="navbar-item" href="{% url 'account_login' %}">Log In</a>
        <a class="navbar-item" href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
    </div>
    </nav>
</div>